doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.min.css')
    link(href='/lib/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    //- link(rel='stylesheet', href='/lib/chart.js/src')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='/lib/chart.js/Chart.js')
  body
    block content
